{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-4">Make reservation</h1>
            {{$res := index .Data "reservation"}}

            <p><strong>Reservation Details</strong><br>
                Room: {{$res.Room.RoomName}}<br>
                Arrival: {{index .StringMap "start_date"}}<br>
                Departure: {{index .StringMap "end_date"}}<br>
            </p>

            <form action="" method="POST" class="" novalidate>
                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                <input type="hidden" name="start_date" value="{{index .StringMap "start_date"}}}">
                <input type="hidden" name="end_date" value="{{index .StringMap "end_date"}}">
                <input type="hidden" name="room_id" value="{{$res.RoomID}}">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    {{with .Form.Errors.Get "first_name"}}
                        <label for="" class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}" 
                        id="first_name" name="first_name" value="{{$res.FirstName}}"
                        autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    {{with .Form.Errors.Get "last_name"}}
                        <label for="" class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}" 
                        id="last_name" name="last_name" value="{{$res.LastName}}"
                        autocomplete="off" required>
                </div>  
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{with .Form.Errors.Get "email"}}
                        <label for="" class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="email" class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" 
                    id="email" name="email" value="{{$res.Email}}"
                    autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone Number</label>
                    {{with .Form.Errors.Get "phone"}}
                        <label for="" class="text-danger">{{.}}</label>
                    {{end}}
                    <input type="text" class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" 
                    id="phone" name="phone" value="{{$res.Phone}}"
                    autocomplete="off" required>
                </div>

                <input type="submit" class="btn btn-primary" value="Make Reservation">
            </form>
        </div>
    </div>
</div>
{{end}}